/* Fonts */
@import url('fonts.css');

/* Reset styles */

@import url('reset.css');


body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

.header,
.footer {
  width: 100%;
  background: rgb(232 239 237);
}

.sub-heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
}

.header__sub-heading:not(:last-child) {
  margin-bottom: 20px;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
}

.container__heading:not(:last-child) {
  margin-bottom: 50px;
}

.box {
  display: flex;
  gap: 15px;
  outline: 3px solid #000000;
  background: rgb(221, 210, 210);
}

.box:not(:last-child) {
  margin-bottom: 20px;
}

.container h3 {
  font-size: 20px;
  font-weight: 500;
}

.container h3:not(:last-child) {
  margin-bottom: 15px;
}

.box div {
  padding: 10px;
  background: #1d0101;
  color: #ffffff;
  max-width: 20%;
}

.fl-start {
  justify-content: flex-start;
}

.fl-end {
  justify-content: flex-end;
}

.fl-center {
  justify-content: center;
}

.fl-spb {
  justify-content: space-between;
}

.fl-spa {
  justify-content: space-around;
}

.fl-spe {
  justify-content: space-evenly;
}

.align-start {
  height: 200px;
  align-items: flex-start
}

.align-end {
  height: 200px;
  align-items: end;
}

.align-center {
  height: 200px;
  align-items: center;
}

.align-stretch {
  height: 200px;
  align-items: stretch;
}

.align-baseline {
  height: 200px;
  align-items: baseline;
}

.dir-col {
  height: 300px;
  flex-direction: column;
}

.dir-col div {
  max-height: 50px;
}

.dir-col-center {
  height: 300px;
  flex-direction: column;
  justify-content: center;
}

.dir-col-start {
  flex-direction: column;
  justify-content: flex-start;
}

.dir-col-end {
  flex-direction: column;
  justify-content: flex-end;
}

.dir-col-between {
  flex-direction: column;
  justify-content: space-between;
}

.dir-col-around {
  flex-direction: column;
  justify-content: space-around;
}

.dir-col-evenly {
  flex-direction: column;
  justify-content: space-evenly;
}

.dir-col-stretch {
  align-items: stretch;
}

.dir-col-align-end {
  align-items: flex-end;
}

.dir-col-align-start {
  align-items: flex-start;
}

.dir-col-align-center {
  align-items: center;
}

.dir-col-reverse {
  flex-direction: column-reverse;
}

.dir-col-reverse.fl-end {
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.dir-row {
  flex-direction: row;
}

.dir-row-reverse {
  flex-direction: row-reverse;
}

.align-self {
  align-self: center;
}

.last {
  order: 4;
}

.second {
  order: 2;
}

.first {
  order: 1;
}

.third {
  order: 3;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  width: 20%;
  margin-left: auto;
}

.list__link {
  padding: 10px;
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  transition: all 0.3s ease;
}

.list__link:hover {
  color: #0e4ad6
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contacts__list {
  margin: 0;
  width: max-content;
}


/* Layouts */
.container,
[class*="-container"] {
  margin: 0 auto;
  padding: 15px;
}

.first-container {
  max-width: 1270px;
}

.section {
  padding-bottom: 100px;
}

.title {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  color: #3C4242;
  font-family: "Core Sans C", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 0.98;
  letter-spacing: 0.68px;
}

.title::before {
  content: "";
  flex-basis: 6px;
  width: 6px;
  height: 30px;
  background: #8A33FD;
  border-radius: 10px;
}

.section__title:not(:last-child) {
  margin-bottom: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px -50px;
}

.products__column {
  flex-basis: 25%;
  padding: 0 25px;
  margin-bottom: 50px;
}

.item-product {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  gap: 15px;
}

.item-product__img-link {
  position: relative;
  padding-bottom: 145%;
  border-radius: 10px;
  overflow: hidden;
}

.item-product__img-link img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s all ease;
}

.item-product__img-link img:hover {
  transform: scale(1.1);
}

.item-product__body {
  display: flex;
  flex-grow: 1;
}

.item-product__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.item-product__title {
  flex-grow: 1;
}

.item-product__title-link {
  color: #2A2F2F;
  font-family: "Causten", sans-serif;
  font-size: 17.875px;
  font-weight: 700;
  line-height: 1.56;
  letter-spacing: -0.715px;
  transition: 0.3s all ease;
}

.item-product__title-link:hover {
  color: #8A33FD;
  text-decoration: underline;
}

.link {
  color: #7F7F7F;
  font-family: "Causten", sans-serif;
  font-size: 13.407px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: -0.536px;
  transition: 0.3s all ease;
}

.link:hover{
  text-decoration: underline;
}

.item-product__arrow {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 18px;
  min-height: 14px;
  align-self: flex-start;
  background: url('../img/products/Arrow.svg') center no-repeat;
  transition: 0.3s all ease;
  cursor: pointer;
}

.second-container,
.third-container {
  max-width: 1470px;
  font-family: "Causten", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.second-container:not(:last-child),
.third-container:not(:last-child),
.fourth-container:not(:last-child) {
  margin-bottom: 100px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 100px 31px;
}

.header__logo {
  cursor: pointer;
  transition: all 0.3s ease;
}

.header__logo:hover {
  transform: scale(1.1);
}

.left-block {
  display: flex;
  justify-content: space-between;
  flex: 0 1 35%;
  gap: 20px;
}

.right-block {
  display: flex;
  justify-content: flex-end;
  gap: 60px;
  flex: 0 1 65%;
}

.search {
  display: flex;
  align-items: center;
  padding: 12px 48px;
  gap: 12px;
  background: #F6F6F6;
  border-radius: 8px;
  cursor: pointer;
}

.search__label {
  color: #807D7E;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.search__icon {
  width: 20px;
  height: 20px;
}

.select {
  display: flex;
  align-items: center;
  gap: 19px;
  cursor: pointer;
}

.select__label {
  color: #333;
  font-weight: 400;
  line-height: 1.2;
}

.select__icon {
  width: 10px;
  height: 5px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 41%;
  gap: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: max-content;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btns-header {
  padding: 12px 48px;
}

.btn--background {
  color: #FFFFFF;
  background: #8A33FD;
}

.btn--background:hover {
  background: #6620C1;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.10);
}

.btn--outline {
  color: #8A33FD;
  border: 1px solid #3C4242;
}

.btn--outline:hover {
  background: rgba(102, 32, 193, 0.03);
}

.third-container {
  max-width: 933px;
  font-family: "Causten", sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.heading {
  color: #3C4242;
  font-family: "Core Sans C", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.19;
  letter-spacing: 0.56px;
}

.wishlist-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.whislist-row {
  display: flex;
  gap: 36px;
}

.cross-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: transparent;
}

.cross {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.image-link {
  max-width: 110px;
  width: 100%;
  border-radius: 4px;
}

.image-link__img {
  max-width: 100%;
  border-radius: 4px;
  aspect-ratio: 110 / 110;
  object-fit: cover;
}

.content-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding-right: 7px;
  gap: 15px;
}

.content-block__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-block {
  display: flex;
  align-items: center;
  gap: 50px;
}

.btn--medium {
  padding: 14px 28px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.label,
.content-block__price {
  line-height: 1.2;
  letter-spacing: 0.44px;
}

.label {
  color: #3C4242;
}

.label span {
  color: #807D7E;
  font-weight: 500;
}

.content-block__price {
  color: #807D7E;
}

.fourth-container {
  max-width: 925px;
  font-family: "Causten", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.order-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.order-row {
  padding: 28px 47px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.left-column p:not(:last-child) {
  margin-bottom: 7px;
}

.order__subtitle {
  color: #3C4242;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.order__subtitle:not(:last-child) {
  margin-bottom: 14px;
}

.order__label {
  color: #807D7E;
  font-weight: 600;
  line-height: 1.2;
}

.order__label span {
  color: #BEBCBD;
  line-height: 1.2;
}

.right-column {
  align-self: flex-end;
}

.right-column p:not(:last-child) {
  margin-bottom: 7px;
}

.product-row {
  display: flex;
  gap: 25px;
}

.product-row__link{
  max-width: 96px;
  width: 100%;
  border-radius: 4px;
}

.product-row__img {
  max-width: 100%;
  border-radius: 4px;
}

.product-block {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.product-block__column > *:not(:last-child) {
  margin-bottom: 5px;
}

.product-block__subtitle {
  color: #3C4242;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}

.product-block__subtitle:not(:last-child) {
  margin-bottom: 10px;
}

.product-block__label {
  color: #3C4242;
  font-weight: 600;
  line-height: 1.2;
}

.product-block__total {
  color: #807D7E;
  font-weight: 600;
  line-height: 1.2;
}

.product-block .btn {
  align-self: center;
}

