.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: toRem(108);
  padding: toRem(5) 0;
  background-color: $light-color;
  z-index: 50;

  // .header__container
  &__container {
    @extend %flex;
    justify-content: space-between;
    column-gap: toRem(20);
    row-gap: toRem(15);
    width: 100%;
    @media (max-width: toEm(500)) {
      align-items: flex-start;
    }
  }

  // .header__logo
  &__logo {
    position: relative;
    z-index: 59;
  }

  // .header__block
  &__block {
    display: flex;
    align-items: center;
    column-gap: toRem(20);
    row-gap: toRem(10);
    flex: 1 1 auto;
    @media (min-width: toEm(1100)) {
      column-gap: toRem(76);
    }
    @media (max-width: toEm(500)) {
      flex-direction: column;
      justify-content: space-between;
    }
  }

  // .header__search
  &__search {
    z-index: 58;
    flex: 1 1 auto;
  }
  // .header__actions
  &__actions {
    @extend %flex;
    gap: toRem(12);
  }
}

.logo {
  flex: 0 0 toRem(91);
  max-width: toRem(91);
  @media (max-width: toEm(500)) {
    flex: 0 0 toRem(61);
  }
  // .logo__img
  &__img {
    @include img(91, 45, center, contain);
  }
}
.menu {
  flex: 1 1 auto;

  &.open {
    .menu__body {
      right: 0;
      &::before {
        right: 0;
      }
    }
    & .overlay {
      right: 0;
    }
  }
  // .menu__body
  &__body {
    @media (max-width: toEm(1100)) {
      position: fixed;
      top: 0;
      right: -100%;
      padding-top: toRem(150);
      width: 50%;
      min-width: toRem(320);
      height: 100%;
      overflow: auto;
      background: rgb(170, 164, 164);
      transition: all 0.3s ease;
      z-index: 58;
      &::before {
        content: '';
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        min-width: 320px;
        height: 108px;
        background: $light-color;
        transition: all 0.3s ease;
        z-index: 58;
        @media (max-width: toEm(500)) {
          height: toRem(121);
        }
      }
    }
  }

  // .menu__list
  &__list {
    display: flex;
    align-items: center;
    column-gap: toRem(40);
    row-gap: toRem(10);
    flex-wrap: wrap;
    @media (max-width: toEm(1100)) {
      flex-direction: column;
      row-gap: toRem(30);
    }
  }

  // .menu__link
  &__link {
    padding: toRem(5);
    color: $title-color;
    font-size: toRem(22);
    font-weight: 500;
    line-height: 1.2;
    transition: all 0.3s ease;
    &--active {
      color: $title-color;
      font-weight: 700;
    }
    @media (any-hover: hover) {
      &:hover {
        color: $bright-color;
        text-decoration: underline;
      }
    }
    @media (max-width: toEm(1100)) {
      font-size: toRem(36);
    }
  }
}

.overlay {
  position: fixed;
  top: toRem(108);
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-width: toRem(320);
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  z-index: 55;
  @media (max-width: toEm(500)) {
    top: toRem(209);
  }
}

.search {
  @extend %flex;
  padding: toRem(12) toRem(20);
  gap: 12px;
  background: $light-background;
  border-radius: toRem(8);
  cursor: pointer;
  @media (max-width: toEm(500)) {
    width: 100%;
  }
  // .search__icon
  &__icon {
    width: toRem(20);
    height: toRem(20);
    fill: $text-color;
  }

  // .search__label
  &__input {
    width: calc(100% - (12px + 20px));
    background: $light-background;
    &::placeholder {
      font-size: toRem(16);
      line-height: 1.2;
      color: $text-color;
    }
  }
}

.icon {
  width: toRem(20);
  height: toRem(20);
  stroke: $text-color;
}

.actions-header {
  position: relative;
  flex-shrink: 0;
  z-index: 58;

  // .actions-header__link
  &__link {
    flex-shrink: 0;
    padding: toRem(12);
    border-radius: toRem(8);
    background: $light-background;
    transition: all 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        .icon {
          stroke: $bright-color;
        }
      }
    }
  }
}

.burger-menu {
  display: none;
  &.open {
    &::before {
      transform: rotate(-45deg);
      top: 50%;
      margin-top: -1px;
    }
    span {
      transform: scale(0);
    }
    &::after {
      transform: rotate(45deg);
      bottom: 50%;
      margin-bottom: -1px;
    }
  }
  @media (max-width: toEm(1100)) {
    position: relative;
    display: block;
    width: 30px;
    flex: 0 0 toRem(30);
    height: 18px;
    z-index: 58;
    &::before,
    &::after,
    span {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: #000000;
      transition: all 0.3s;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
