.new {
  &__container {
    font-family: "Causten", sans-serif;
    font-size: toRem(20);
    font-weight: 700;
    color: $title-color;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: toRem(20);
    justify-content: center;
  }
  &__arrow {
    flex: 0 0 14px;
  }
}

.arrow {
  filter: invert(24%) sepia(19%) saturate(148%) hue-rotate(131deg) brightness(98%) contrast(96%);
  transition: all 0.3s ease;
  @media (any-hover: hover) {
    &:hover {
      filter: invert(25%) sepia(98%) saturate(3621%) hue-rotate(258deg) brightness(98%) contrast(104%);
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(toRem(263), 1fr));
  gap: toRem(38);
  flex: 1 1 auto;
  &__item {
    display: grid;
    gap: toRem(33);
    @media (max-width: toEm(650)) {
      gap: toRem(15);
    }
  }
  &__link {
    &-image {
      width: 100%;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    aspect-ratio: 263 / 263;
    object-fit: cover;
    border-radius: toRem(12);
    transition: all 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.03);
      }
    }
  }
  &__subtitle {
    line-height: 1.2;
    letter-spacing: toRem(0.2);
    text-transform: capitalize;
    transition: all 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
